.main {
background-color: rgb(99, 212, 240);
padding: 25px 25px 25px 25px;
}
.header {
    background-color: rgb(255, 236, 152);
    padding: 10px 10px 15px 15px;
}
.hone {
    color: aqua;
}